/class Automata:.py
/practica 1 AM.py
/practica 2 AM scikit.py
/practica 2 AM.py
/Acividad 5 AM.py
/Actividad 5 AM(3).py
/Actividad 5 AM.py
/Actividad 4.py
/Actividad 5(2)
/diseño.py
/Housing.csv
/Practica 4.py
/prueba.txt
